{% extends "base_generic.html" %}
{% block title %}<title>AI Validation</title>{% endblock %}
{% block navbar %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'text_validationEng' %}"><i class="fas fa-home fa-lg"></i>Home</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
  <h1 class="logo cursive">FAIR</h1>
  <h1 class="logo cursive">AI Advertisement Legality Validation Report</h1>
  <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
          <div class="content">
              <div class="subscribe">
                  <div class="row">
                      <div class="col-md-6 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
                        <div class="table-responsive">
                          <table class="table table-striped"><tbody><tr>
                            <td>{{original|safe}}</td>
                          </tr></tbody></table>
                        </div>
                      </div>
                  </div>
                  {% if result == '0' %}
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
                        {% load static %}
                        <div class="table-responsive">
                          <table class="table table-striped"><tbody><tr>
                            <td><img src="{% static 'imgs/green.jpg' %}" alt="Good" /></td>
                            <td>Validation result：{{rate}}%</td>
                          </tr></tbody></table>
                        </div>
                      </div>
                    </div>
                  {% elif result == '1' %}
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
                        <div class="table-responsive">
                          <table class="table table-striped"><tbody><tr>
                            <td><img src="{% static 'imgs/red.jpg' %}" alt="Not Good" /></td>
                            <td>Validation result：{{rate}}%</td>
                          </tr></tbody></table>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
                      <div class="table-responsive">
                        <table class="table table-striped"><tbody><tr><td>
                          Dear customer:<br/>
                          {% if result == '1' %}
                          The validation result above is for your reference.<br/>
                          「<span style="color:red;">Red light</span>」：The advertisement might be unlawful.<br/>
                          「<span style="color:red;">Red text</span>」：The words might be risky.<br/>
                          {% endif %}
                          <br/>
                          Validation result:<br/>
                          {% if result == '0' %}
                            less than 70% => 「<span style="color:green;">Congratulation!</span>」Your advertisement might be lawful.<br/>
                          {% elif result == '1' %}
                            more than 70% => 「<span style="color:red;">Risky!! </span>」Your advertisement might be unlawful, please be careful.<br/>
                          {% endif %}
                          <br/>
                          If you have further inquiry, please contact us.<br/>
                          Phone:(02)23771858 ext:○○○<br/>
                          Email: angel.lin@zhongyinlawyer.com.tw<br/>
                        </td></tr></tbody></table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm6-6 col-sm-offset-3 ">
                        <form action="{% url 'inquiryEng' %}" method="post" class="form-inline formImg" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="result" value="{{original_nc}}">
                            <input type="hidden" name="keywords" value="{{keywords}}">
                          <button type="submit" class="btn btn-info btn-fill submitImg">Inquiry from website</button>
                          <br/><br/>
                        </form>
                        <form action="{% url 'pdfEng' %}" method="post" class="form-inline" role="form">
                            {% csrf_token %}
                            <input type="hidden" name="original" value="{{original_nc}}">
                            <input type="hidden" name="keywords" value="{{keywords}}">
                            <input type="hidden" name="result" value="{{result}}">
                            <input type="hidden" name="rate" value="{{rate}}">
                          <button type="submit" class="btn btn-success btn-fill">PDF report</button>
                          <br/><br/>
                        </form>
                    </div>
                  </div>
              </div>
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script>
              $(document).ready(function () {
                  $(".formImg").submit(function (e) {
                      //disable the submit button
                      $(".submitImg").attr("disabled", true);
                      return true;
                  });
              });
          </script>

{% endblock %}
