{% extends "base_generic_db.html" %}
{% block title %}<title>客戶詢問</title>{% endblock %}

{% block sidebar %}
  <ul class="nav nav-sidebar">
    <li><a href="{% url 'textupload_list' %}"><i class="fas fa-list fa-lg"></i>&nbsp 所有辨識</a></li>
    <li class="active"><a href="{% url 'inquiry_list' %}"><i class="fas fa-list fa-lg"></i>&nbsp 詢問清單</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h1 class="page-header">客戶詢問</h1>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>編號</th>
              <th>時間</th>
              <th>公司</th>
              <th>產品</th>
              <th>聯絡人</th>
              <th>email</th>
              <th>電話</th>
              <th>傳真</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{inquiry.pk}}</td>
              <td>{{inquiry.date_of_inquiry}}</td>
              <td>{{inquiry.company}}</td>
              <td>{{inquiry.product}}</td>
              <td>{{inquiry.contact}}</td>
              <td>{{inquiry.email}}</td>
              <td>{{inquiry.phone}}</td>
              <td>{{inquiry.fax}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>辨識結果</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{inquiry.usertext|safe}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>訊息內容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{inquiry.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><a href="{% url 'inquiry_list' %}">回詢問清單</a></p>
    </div>
{% endblock %}
