{% extends "base_generic_db.html" %}
{% block title %}<title>所有辨識結果</title>{% endblock %}

{% block sidebar %}
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><i class="fas fa-list fa-lg"></i>&nbsp 所有辨識</a></li>
    <li><a href="{% url 'inquiry_list' %}"><i class="fas fa-list fa-lg"></i>&nbsp 詢問清單</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h1 class="page-header">所有辨識結果</h1>
    <div class="row">
      {% if textupload_list %}
      <div class="table-responsive">
        <a href="{% url 'textupload_csv' %}"><button class="btn btn-success btn-fill">下載CSV檔</button></a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>編號</th>
              <th>時間</th>
              <th>公司</th>
              <th>信箱</th>
              <th>產品</th>
              <th>內容</th>
              <th>結果</th>
            </tr>
          </thead>
          <tbody>
          {% for textupload in textupload_list %}
            <tr>
              <td><a href="{{textupload.get_absolute_url}}">{{textupload.pk}}</a></td>
              <td>{{textupload.date_of_upload}}</td>
              <td>{{textupload.company}}</td>
              <td>{{textupload.email}}</td>
              <td>{{textupload.product}}</td>
              <td>{{textupload.usertext|slice:"0:36"}} ...</td>
              {% if textupload.result == '0' %}
                <td>合格</td>
              {% else %}
                <td>違規</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
        <p>沒有辨識結果</p>
      {% endif %}
    </div>
{% endblock %}
